<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
import pandas as pd

In [3]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-06-02 19:23:34--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 44.228.179.66, 35.163.140.110, 52.89.160.109
Connecting to resources.lendingclub.com (resources.lendingclub.com)|44.228.179.66|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [              <=>   ]  22.10M  2.00MB/s    in 11s

2020-06-02 19:23:47 (1.95 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23170772]

In [4]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine= 'python')

In [6]:
print(df.shape)
df.head()

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [7]:
df.tail()

        id  member_id  ...  settlement_percentage  settlement_term
128407 NaN        NaN  ...                    NaN              NaN
128408 NaN        NaN  ...                    NaN              NaN
128409 NaN        NaN  ...                    NaN              NaN
128410 NaN        NaN  ...                    NaN              NaN
128411 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [8]:
df['term'].nunique()

2

In [9]:
df['term'].value_counts()

 36 months    88179
 60 months    40233
Name: term, dtype: int64

In [12]:
df['term'][2]

' 36 months'

In [13]:
df['term'][3]

' 60 months'

In [0]:
def term_int(cell_contents):
  return int(cell_contents.strip().strip('months'))

In [0]:
df['term'] = df['term'].apply(term_int)

In [22]:
df['term'].head()

0    36
1    36
2    36
3    60
4    60
Name: term, dtype: int64

In [23]:
df['term'].tail()

128407    36
128408    36
128409    36
128410    36
128411    36
Name: term, dtype: int64

In [24]:
df['loan_status'].value_counts()

Current               86502
Fully Paid            30042
Charged Off            9103
Late (31-120 days)     1674
In Grace Period         827
Late (16-30 days)       238
Default                  26
Name: loan_status, dtype: int64

In [0]:
examples = ['Current', 'Fully Paid']
example = ['Current', 'Fully Paid', 'Delinquent', 'On Time', 'Late']

In [0]:
def new_loan(title):
  if title=='Current' or title=='Fully Paid':
    return 1
  else:
    return 0

In [0]:
df['loan_status_is_great']=df['loan_status'].apply(new_loan)

In [146]:
df['loan_status_is_great'].head()

0    0
1    1
2    1
3    1
4    0
Name: loan_status_is_great, dtype: int64

In [147]:
df['loan_status_is_great'].nunique()

2

In [149]:
df['loan_status_is_great'].value_counts()

1    116544
0     11868
Name: loan_status_is_great, dtype: int64

In [0]:
df['issue_d']=pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [140]:
df['issue_d'].head()

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
Name: issue_d, dtype: datetime64[ns]

In [0]:
df['last_pymnt_d_month']=(df['term']/12) + df['issue_d'].dt.month
#still working on this one

In [156]:
df['last_pymnt_d_month'].head()

0    15.0
1    15.0
2    15.0
3    17.0
4    17.0
Name: last_pymnt_d_month, dtype: float64

In [0]:
df['last_pymnt_d_year'] = (df['term'] / 12) + df['issue_d'].dt.year

In [154]:
df['last_pymnt_d_year']

0         2021.0
1         2021.0
2         2021.0
3         2023.0
4         2023.0
           ...
128407    2021.0
128408    2021.0
128409    2021.0
128410    2021.0
128411    2021.0
Name: last_pymnt_d_year, Length: 128412, dtype: float64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01